* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    height: 100vh;
    background: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

