* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */

header {
    height: 100vh;
    background: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* HEADER TITLE PART */

.container1_header {
    width: 50%;
    margin-top: 50px;
}

.logo {
    margin-bottom: 30px;
}

.container1_header h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 50px;
}

.container1_header p {
    color: white;
    font-size: 1.5em;
    width: 60%;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    gap: 40px;
}

.button-formation {
    border: 1px solid #EF7D00;
    padding: 10px 20px;
    background-color: #EF7D00;
}

.button-formation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.button-decouvrir {
    border: 1px solid #EF7D00;
    padding: 10px 20px;
    background-color: white;
}

.button-decouvrir a {
    color: #EF7D00;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

/* HEADER FORM PART */


.form-container {
    border: 1px solid #EF7D00;
    border-radius: 10px;
    padding: 4em;
    background-color: rgba(255, 255, 255, 0.4);
    height: 500px;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.button-form {
    border: 1px solid #EF7D00;
    padding: 10px 20px;
    background-color: #EF7D00;
    text-align: center;
    margin-top: 30px;
}

.button-form a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

form input {
    width: 250px;
    height: 30px;
    border: 1px solid #ED7E00;
}

form select {
    width: 250px;
    height: 30px;
    border: 1px solid #ED7E00;
}

form :nth-child(6) {
    border: 1px solid #EF7D00;
    padding: 10px 20px;
    background-color: #EF7D00;
    text-align: center;
    margin-top: 30px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* FOOTER */

footer{
    height: 250px;
    background-color: #ED7E00;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    gap: 15px;
    margin-top: 100px;
    
}

.flex-logo{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    align-items: center;
}


.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider p{
    
    width: 50%;
    margin: 0 auto;
}

h2{
    text-align: center;
    color: #ED7E00;
    margin-top: 20px;
}

.flex-student{
    display: flex;
    width: 80%;
    align-items: center;
}

.arrow{
    width: 60px;
    height: 60px;
}

.button-slider{
    border: 1px solid #EF7D00;
    padding: 10px 20px;
    background-color: #EF7D00;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.student-pictures{
    padding-left: 50px;
}




.title_section{
    font-size: 60px;
    font-weight: bold;
    color: #EF7D00;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-top: 100px;
}

@media (max-width: 640px) {

    .title_section{
        font-size: 40px;
        text-align: center;
        margin-left: 0;
    }

    .html{
        flex-wrap: wrap-reverse;
        align-items: center;
        margin: 0 auto;
    }

    .html .imghtml img{
        width: 300px;
        
    }

    .html .imghtml{
        margin-top: 50px;
    }

    .html .imgc img{
        width: 300px;
    }

    .html .imgphp img{
        width: 300px;
    }

    .html .h3_section{
        font-size: 30px;
        text-align: center;
    }

    .html .contenthtml p{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .contenthtml .button_section{
        margin-bottom: 50px;
        align-items: center;
        margin-left: 21%;
        font-size: 20px;
    }

    .barre{
        margin: 0 auto;
    }
    
    }




.h3_section{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 100px;
}


.html{
    display: flex;
    margin-left: 5%;
}

.html p{
    font-size: 30px;
    width: 75%;
    margin-bottom: 80px;
}



.barre{
    width: 60%;
    background-color: #EF7D00;
    height: 3px;
    margin-bottom: 70px;
}

.imghtml{
    margin-right: 10%;
    margin-top: 150px;
}

.imghtml img{
    width: 500px;
}

.imgc{
    margin-right: 10%;
    margin-top: 50px;
}

.imgc img{
    width: 400px;
}

.imgphp{
    margin-right: 10%;
    margin-top: 0px;
}

.imgphp img{
    width: 400px;
}

.button_section{
    background: #EF7D00;
    width: 200px;
    height: 70px;
    color: white;
    font-size: 30px;
    text-align: center;
    align-items: center;
    border: #EF7D00;
    margin-bottom: 50px;
}


@media (max-width: 950px) and (min-width: 450px) {
    header {
        flex-wrap: wrap;
        height: 200vh;
    }
    .container1_header {
        width: 80%;
    }
    .container1_header p {
        width: 100%;
    }
}


@media (max-width: 450px) {
    header {
        flex-wrap: wrap;
        height: 200vh;
    }
    .container1_header {
        width: 80%;
        margin-top: 20px;
    }
    .container1_header p {
        width: 100%;
    }
    .container1_header h1 {
        font-size: 40px;
    }
    .button-container {
        gap: 10px;
    }
    .form-container {
        padding: 3em;
        margin-top: 70px;
    }
}

@media all and (max-width: 1700px) and (min-width: 1400px) {
    .form-container {
        border: 1px solid #EF7D00;
        border-radius: 10px;
        padding: 4em;
        background-color: rgba(255, 255, 255, 0.4);
        height: 600px;
        margin-top: 100px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    
    
    .button-form {
        border: 1px solid #EF7D00;
        padding: 15px 25px;
        background-color: #EF7D00;
        text-align: center;
        margin-top: 30px;
    }
    
    .button-form a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    form input {
        width: 300px;
        height: 30px;
        border: 1px solid #ED7E00;
    }
    
    form select {
        width: 300px;
        height: 30px;
        border: 1px solid #ED7E00;
    }
    
    form :nth-child(6) {
        border: 1px solid #EF7D00;
        padding: 10px 20px;
        background-color: #EF7D00;
        text-align: center;
        margin-top: 30px;
        height: 40px;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
}







